html,
body {
  margin: 0%;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

/* css variables*/
:root {
  --title-color: #0659f5;
  --nav-links-color: #000000;
  --gradient-color: linear-gradient(90deg, #2e40b3 0%, #0659f5 100%);

  --portfolio-font: "Open Sans Bold", cursive;
}
